name: "Build & Release for MacOs"

on: workflow_dispatch

jobs:
  build_macos:
    name: Build MacOS
    runs-on: macos-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.4'
          channel: stable
      - name: Install Dependencies
        run: flutter pub get
      - name: Build macOS App
        run: flutter build macos --release
      - name: Upload MacOS artifact
        uses: actions/upload-artifact@v4
        with:
          name: macos-app
          path: build/macos/Build/Products/Release/*.app

  upload-release:
    permissions: write-all
    needs: [build_macos]
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Read version from pubspec.yaml
        id: version
        run: |
          VERSION=$(grep 'version:' pubspec.yaml | sed 's/version: //')
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Download MacOS App
        uses: actions/download-artifact@v4
        with:
          name: macos-app
          path: ./out/macos

      - name: List output directory
        run: ls -R ./out

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          files: |
            ./out/macos/*
          tag_name: ${{ steps.version.outputs.VERSION }}
          draft: false
          prerelease: false
